.winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;

    .winner-image {
        box-sizing: border-box;
        border: 12px solid #4adb4a;
        border-radius: 12px;
        width: 632px;
        height: 325px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    span {
        display: inline-flex;
        align-items: center;
        gap: 4px;
    }

    b {
        color: lightskyblue;
        font-size: 24px;
    }
}
