.list-item {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: tomato;
    transition: 0.3s ease;

    &:hover {
        background: lightskyblue;
    }

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.votes {
    display: inline-flex;
    font-weight: bold;
    padding: 6px;
}
